.nav1{
    background: #001220 ;
}

.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.layer{
    background-image: url('./layered-waves-haikei.svg');
}

.layer_2{
    background-image: url('./layered-waves-haikei_2.svg');
}

.layer_3{
    background-image: url('./layered-waves-haikei_3.svg');
}

body{
    margin: 0;
    color: azure;
    background: black;
    overflow-x: hidden;
}