html, body {
  margin: 0;
  padding: 0;
  font-family: 'MyFontOk';
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px 20vw;
}

.modal{
  background-color: blur(5);
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  backdrop-filter: blur(2px);
  background-color: rgba(1, 1, 1, 0);
}

.card-shadow{
  box-shadow: 0px 0px 5px rgb(62, 180, 243);
}

.img-intro{
  box-shadow: 0px 0px 7px rgb(62, 180, 243);
  border-radius: 3%;
  margin:20px;
  border-color: aqua;
  border-width: 2px;
  height: 93%;
  width: 93%;
}

.img-relink{
  box-shadow: 0px 0px 7px rgb(62, 180, 243);
  border-radius: 3%;
  margin:15px;
  border-color: aqua;
  border-width: 2px;
  height: 95%;
  width: 95%;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.start_animation, body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@font-face {
  font-family: 'MyFontOk';
  src: url('text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}