@font-face {
    font-family: Font;
    src: url(fonts\font.otf);
}

.primary
{
    background-color: #28282B;
    font-family: "Font";
}

.abouttext,p
{
    font-size: large;
    color: white;
}

.title,h1,h2,h3,h4,a,ul,ol
{
    color: white;
}

.cardcss
{
    background-color: #000000!important;
}

hr {
    height: 1px;
    background-color: white;
}

div {
    padding: 25px 25px 25px;
  }