html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.blur {
  backdrop-filter: blur(2px);
  background-color: rgba(1, 1, 1, 0);
}

.card-shadow{
  box-shadow: 0px 0px 5px rgb(62, 180, 243);
}

.img-intro{
  box-shadow: 0px 0px 7px rgb(62, 180, 243);
  border-radius: 3%;
  margin:20px;
  border-color: aqua;
  border-width: 2px;
  
}

.area{
  background-image: linear-gradient(to right, rgb(55, 49, 70) , rgb(37, 61, 55));;   
}