{% extends "layout.html" %}

{% block title %}
    Insurance
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row justify-content-evenly" style="background-color:#b9dcf4;">
        <div class="col-md-7 align-self-center">
                    <div class="container">
                        <div class="row justify-content-center" style="margin: 30px;">
                            <div class="col offset-md-1">
                                <h1>LEAVE THEM WITH MONEY,</h1>
                                <h1>NOT BILLS.</h1>
                            </div> 
                        </div>
                    </div>
                    <div class="row justify-content-center" style="margin: 10px;">
                        <div class="col-4">
                            <button onclick="window.location.href='/getprice'" style="font-size: 200%; background-color:black;" type="button" class="btn btn-dark">GET MY PRICE</button>
                        </div>
                    </div>
                    <div class="row" style="margin:30px">
                        <div class="card" style="background-color:rgba(255,255,255,0.6)">
                            <div class="card-body">
                                <div class="row">   
                                    <h5 style="text-align: center;">No Medical exam life insurance</h5>
                                    <h6 style="text-align: center;">for $3M or less — just answer a few health questions</h6>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:30px">
                        <div class="col" style="margin:5px">
                            <div class="card" style="background-color:rgba(255,255,255,0.6)">
                                <div class="card-body">
                                    <h5 style="text-align: center;">$100k - $3M</h5>
                                    <h6 style="text-align: center;">in term coverage</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="margin:5px">
                            <div class="card" style="background-color:rgba(255,255,255,0.6)">
                                <div class="card-body">
                                    <h5 style="text-align: center;">Affordable</h5>
                                    <h6 style="text-align: center;">prices start at $5/mo</h6>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-5">
            <img src="static\kangBG.png">
        </div>
    </div>
    <div class="row" style="background-color:rgb(249, 255, 194);">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="background-color:rgba(255,255,255,0.6); margin-top: 20px; margin-bottom: 20px;">
                    <h5 class="card-header">Featured Google Review</h5>
                    <div class="card-body">
                      <h5 class="card-title">Amazing Product! 5/5 Star! "add star icons" </h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-dark">More Google Reviews</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color:rgba(255,255,255,0.6); margin-top: 20px; margin-bottom: 20px;">
                    <h5 class="card-header">Featured Facebook Review</h5>
                    <div class="card-body">
                      <h5 class="card-title">Amazing Product! 5/5 Star! "add star icons" </h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-dark">More Facebook Reviews</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color:rgba(255,255,255,0.6); margin-top: 20px; margin-bottom: 20px;">
                    <h5 class="card-header">Featured Yahoo Review</h5>
                    <div class="card-body">
                      <h5 class="card-title">Amazing Product! 5/5 Star! "add star icons" </h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-dark">More Yahoo Reviews</a>
                    </div>
                </div>
            </div>
        </div>  
        
    </div>
</div>
{% endblock %}